:root {
  --color1: rgba(250, 243, 221, 1);
  --color2: rgba(200, 213, 185, 1);
  --color3: rgba(143, 192, 169, 1);
  --color4: rgba(104, 176, 171, 1);
  --color5: rgba(105, 109, 125, 1);

  --color6: rgba(90, 147, 103, 1);
  --color7: rgba(92, 171, 125, 1);
  --color8: rgba(74, 219, 200, 1);
  --color9: rgba(81, 79, 89, 1);
  --color10: rgba(29, 17, 40, 1);

}



body{
  font-family:  Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/*********
  Main
 *********/
#main{
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color4);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: var(--color10)
}
#main h3{
  color: var(--color10)
}
#main h4{
  color: var(--color10)
}
#main .break{
  margin: 20px 0px;
  background-color: white;
  height: 20px;
  padding: 0px;
  width: 100%;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-style: double;
  border-color: blue;

}
#all-projects{
  display: flex;
  flex-direction: column;
}
.one-project{

}
#skills{
}
section{
  min-height: 300px;;
}
/*********
  Sidebar
 *********/
#sidebar{
  flex-grow: 0;
  flex-shrink: 0;
  width: 350px;
  background-color: var(--color10);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#sidebar h3{
  color: white;
}
#sidebar h4{
  color: white;
}
#sidebar a{
  color: white;
  text-decoration: none;
}
#sidebar a:hover{
  text-decoration: underline;
}
#sidebar p {
  color: var(--color4);
}
#my-face{
  width: 175px;
  height: auto;
  border: var(--color4) solid 4px;
  border-radius: 50%;
}

